* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.navContainer {
  background-color: #ffff;
  z-index: 999;
  padding: 16px, 32px;
  height: 64px;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
  position: fixed;
  margin-top: 50px;
}
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-top: 34px;
  background-color: #e1e1e1;
}
.frame {
  display: flex;
  flex-direction: column;
  width: 207px;
  height: 480px;
  margin-top: 40px;
  position: fixed;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  justify-content: space-around;
}
.menu > span {
  color: #181818;
  font-size: 14px;
  font-weight: 400;
}
.others {
  margin-top: 54px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.button {
  border: none;
  margin-top: 24px;
  color: #1b2128;
  height: 18px;
  font-size: 14px;
  font-weight: 400;
  width: 100px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button > span {
  margin-left: 5px;
}

.dashboard {
  width: 80%;
  height: 100%;
  margin: 70px 0px 50px 264px;
  padding: 30px;
 
}

.components {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6,auto);
  grid-gap: 20px;
  grid-template-areas:
    "totalSale totalSale totalSale totalSale salesChart salesChart"
    "totalSale totalSale totalSale totalSale salesChart salesChart"
    "product product product sales sales sales"
    "product product product sales sales sales"
    "product product product weather weather weather"
    "product product product weather weather weather";
}
.components > * {
  background: #ffffff;
  border: 1px solid #e3e8ef;
  box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07),
    0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}
.totalSale {
  grid-area: totalSale;
  
}
.sales {
  grid-area: sales;
  height: auto;
}
.weather {
  grid-area: weather;
  max-height: 304px;
}
.product {
  grid-area: product;
}
.salesChart {
  grid-area: salesChart;
  
}

.alert {
  display: flex;
  align-items: center;
  height: 90px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header > button {
  border: none;
  margin-left: 20px;
  font-size: 20px;
  color:#9DACBE;
  background-color: white;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #181818;
  padding: 20px;
}
.lineChart {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}
.tlist {
  margin-top: 50px;
  margin-left: 30px;
}

.element {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.number {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

.select{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:center;
  margin-top: 70px;
}
.select >span{
  margin-top: 10px;
}